
:root{
    --neon:lightcyan;
    --dark:rgb(90, 99, 108);
    --font-fam: Verdana, Geneva, Tahoma, sans-serif;
    --fontsize: 50px;
    --gridfontsize: 20px;
    --gridfontsmall:12px;
    --gridcolor: var(--dark);
}

body{
    background-color: rgb(199, 199, 239);
}

.section-header  /*Header*/
{
    padding: 20px;
    padding-left:0px;
    background-color: var(--dark);
    font-family:var(--font-fam);
    height:100px;
    
}

.applicant  /*Name of the applicant*/
{
    font-size: var(--fontsize);
    background-color:var(--neon);
    padding :20px 4px 20px 70px;
    float :left;
    margin-top:3px;
    margin-bottom:0px;
    color:var(--dark);

}
.section-header ul {
    list-style-type: none;
    
}

.section-header ul li {
    display:inline-flex;
    justify-content: flex-end;
     
}

.navigation   /*navigation*/
{
    flex:4;
    justify-content: center;
    display:flex;
    float: right;
    font-family: var(--font-fam);
    font-size: 30px;
    color: var(--neon);
    padding-right: 100px;
}

.navigation a:visited{
    color: var(--neon);
}

.navigation li {
    margin-right:20px;
    padding-bottom: 30px;
}

.navigation li a:hover{
    color: white;
}


.image{                     
    display:block;
    width: 100%;
    height: 230px;
    background-image: url('../images/watersmall.png');
    background-size: cover;
    background-repeat: no-repeat;
}


.image p {
    background-color: var(--neon);
    float: right;
    margin-right:60px;
    margin-top: 160px;
    font-size:xx-large;
    color: var(--dark);
    font-weight: bold;
    float:right;

}

.portrait {
    width: 80px;
    height: 100px;
    float: right;
}

.about-me      /*Description about me*/
{
    display: flex;
    font-family:var(--font-fam);
    color: var(--dark);
    margin-top: 15px;

}


 .about-me-header {
    font-size:var(--fontsize);
    flex:1;
    text-align: right;
    font-weight: 800;
    padding-right: 20px;
    border-right: 2px solid var(--dark);
}

.about-me-content
{
    flex:4;
    padding-left: 1rem;
    font-size: small;
    
}

.work {                     /*Description about my work*/
    display: flex;
    font-family:var(--font-fam);
    color: var(--dark);
    margin-top: 15px;
}

.work-header {
    font-size:var(--fontsize);
    flex:1;
    text-align: right;
    font-weight: 800;
    padding-right: 1rem;
    border-right: 2px solid var(--dark);
}

.work-projects {
    flex:4;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-template-rows: repeat(1,1fr);
    grid-template-areas: "header header";
   
}

.project-one
{
   grid-area:header;
   grid-column: span 2;
   grid-row:span 2;
    height: 350px;
    display:block;
    background-image: url("../images/surfreport.png");
    width:auto;
    height:300px;
    background-repeat: no-repeat;
    object-fit: contain;
}

.project-two,.project-three,.project-four,.project-five
{
    border-color: var(--borderstyle);
    height:100px;
    background-color: var(--gridcolor);
}

.project-one,.project-two,.project-three,.project-four,.project-five{
    margin: 4px;
    border: 4px solid var(--neon);
}


.project-two {
    
    display:block;
    background-image: url("../images/LEDwall.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.project-three {
    display:block;
    background-image: url("../images/calculator.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.project-four {
    display:block;
    background-image: url("../images/Pastelpuzzle.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.project-five {
    display:block;
    background-image: url("../images/runbuddy.png");
   background-size: cover;
   background-repeat: no-repeat;
}

.project-one:hover,.project-two:hover,.project-three:hover,.project-four:hover,.project-five:hover {
    opacity: 50%;
}



#text-one, #text-two, #text-three, #text-four, #text-five
{
    display: inline-block;
    font-size: var(--gridfontsize);
    font-weight: bold;
    font-family: var(--fontfam);
    background-color: var(--neon);
    
    
    width: max-content;
    height: 50px;
    
}

#text-one
{
    margin-top: 230px;
}

#text-two, #text-three, #text-four, #text-five
{
    margin-top:2rem;
}

.main-text{
    padding:7px;
}

.minimize
{
    font-size: var(--gridfontsmall);
    padding-left:7px;
}

.contact {
    display: flex;
    font-family:var(--font-fam);
    color: var(--dark);
    margin-top: 15px;
}

.contact-header {
    font-size:var(--fontsize);
    flex:1;
    text-align: right;
    font-weight: 800;
    padding-right: 1rem;
    border-right: 2px solid var(--dark);
}

.contact-details
{
    flex:4;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    text-align:center;
    font-weight: bold;
}

.contact-details a:visited{
    color: var(--dark);
}

.contact-details a:hover{
    color:darkgreen;
}


@media screen and (max-width:992px){

    .section-header,.navigation, .about-me,.work,.contact,.contact-details{
        display:block;
    }
    .about-me-header,.work-header,.contact-header{
        text-align: center;
    }
     
        .subtitle p{
           position: relative;
        }


}

@media screen and (max-width:768px){

    .section-header,.navigation, .about-me,.work,.contact,.contact-details{
        display:block;
    }

    .about-me-header,.work-header,.contact-header{
        text-align: center;
        border-right:0px;
    }

    .subtitle p{
        position: absolute;
     }

}




    




